div.uc_top {
}

div.uc_main {
}

div.uc_bottom {
}

div.uc_left {
    float: left;
    width: 180px;
}

div.uc_center {
    margin-left: 180px;
}

div.uc_video {
    margin-left: auto;
    margin-right: auto;
}

#messages {
    height: 200px;
}

#messageList {
    height: 160px;
    overflow: auto;
    border: solid 1px #eee;
}
