<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/normalize.css"/>
    <link rel="stylesheet" href="/stylesheets/metro-bootstrap-responsive.css"/>
    <link rel="stylesheet" href="/stylesheets/metro-bootstrap.css"/>
    <link rel="stylesheet" href="/stylesheets/iconFont.css"/>
    <link rel="stylesheet" href="/stylesheets/classroom.css"/>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/jquery.widget.min.js"></script>
    <script src="/javascripts/metro.min.js"></script>
</head>
<body class="metro">
<div class="container">
    <div class="uc_top">
        <div id="setting" class="panel" data-role="panel">
            <div class="panel-header bg-lightBlue fg-white">
                Rooms and Settings
            </div>
            <div class="panel-content">
                <legend>Camera(W*H)</legend>
                <input id="camWidthInput" min="1" max="1920" type="number" value="640"/>
                <input id="camHeightInput" min="1" max="1080" type="number" value="360"/>
                <a href="javascript:void(0)" id="shareCamButton" class="button small bg-green fg-white">ShareCamera</a>
                <br/>
                <br/>
                <legend>Screen(W*H)</legend>
                <input id="scrWidthInput" min="1" max="1920" type="number" value="1920"/>
                <input id="scrHeightInput" min="1" max="1080" type="number" value="1080"/>
                <a href="javascript:void(0)" id="shareScreenButton"
                   class="button small bg-green fg-white">ShareScreen</a>
                <br/>
                <br/>
                <legend>Rooms</legend>
                <ul id="roomlist">
                </ul>
                <input id="roomNameInput" maxlength="16" type="text" placeholder="RoomName" class="textbox"/>
                <!--input id="roomPasswordInput" maxlength="16" type="text" placeholder="RoomPassword" class="textbox" /-->
                <a href="javascript:void(0)" id="createRoomButton" class="button small bg-green fg-white">CreateRoom</a>
                <a href="javascript:void(0)" id="leaveRoomButton" class="button small bg-grey">LeaveRoom</a>
                <br/>
                <br/>
                <legend>Users</legend>
                <ul id="userlist">
                </ul>
            </div>
        </div>
    </div>

    <div class="panel uc_main">
        <div class="panel-header bg-lightBlue fg-white">
            <span id="roomNameLabel">#</span>
        </div>
        <div class="panel-content">
            <div class="uc_video">
                <video autoplay controls id="remoteScr" style="background-color:#777;width:640px;height:360px;">cannot
                    support HTML5 video element
                </video>
                <video autoplay controls muted id="localScr" style="display:none;">cannot support HTML5 video element
                </video>
                <video autoplay controls muted id="localCam" style="display:none;">cannot support HTML5 video element
                </video>
            </div>
        </div>
    </div>

    <div class="uc_bottom panel">
        <div class="panel-header bg-lightBlue fg-white">
            Messages
        </div>
        <div class="panel-content">
            <div class="uc_left">
                <video autoplay controls id="remoteCam" style="background-color:#777;width:160px;height:90px;">cannot
                    support HTML5 video element
                </video>
            </div>
            <div id="messages" class="uc_center">
                <div id="messageList">
                </div>
                <input class="span6" id="messageInput" type="text" placeholder="say something..."/>
                <button class="small bg-green fg-white" id="sendMessageButton">SendMessage</button>
            </div>
        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/adapter.js"></script>
<script src="/javascripts/static.js"></script>
<script src="/javascripts/classroom.js"></script>
</body>
</html>
